/* css */

#shrek {
  align-content: center;
  margin-top: 100px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #0f594d;
  background-color: #f2e6cd;
}

#shrek-image {
    display: none; 
    height: 400px; 
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: green;
    text-decoration: none;
}
